<template>
  <div class="about-container">
    <div class="content">
      <h1>Comment contribuer ?</h1>
      <h2>Premiers contacts</h2>
      <p>
        Née et lancée pendant le confinement, la démarche porte dans ses gènes la possibilité de fonctionner à distance. Les cafés-visios et les apéros-visios sont un bon moyen de croiser les contributeurs, d’être plongé dans l’ambiance et de trouver des personnes qui peuvent vous aider à construire votre récit. Autant pour préciser votre sujet qu’au niveau technique.
      </p>
      <h2>La charte des Cartes des Récits</h2>
      <p>
        Avant de participer, prenez le temps de lire la charte des Cartes des Récits pour voir si vous partagez les valeurs du projet. Pour favoriser les contributions, les récits sont organisés en trois groupes. Les « points d’intérêt » où les auteurs présentent un sujet, les « live » où est mis en valeur l’action d’un groupe de personnes et enfin les « making of » où le dessous des cartes est révélé. Pour la Charte de la Carte des Récits, <n-link to="/Charte_Carte_des_Recits_beta_1-1.pdf" target="_blank">c’est ici</n-link>.
      </p>
      <h2>Qui sélectionne les récits ?</h2>
      <p>
        Comme vous le verrez dans la charte, tous les récits sont acceptés sous réserve qu’ils correspondent à la charte. Le village d’Anières a justement le projet de favoriser l’émergence d’une association qui pourrait accompagner les auteurs de récits et vérifier le respect de la charte.
      </p>
      <h2>Comment créer un récit ?</h2>
      <p>
        Un sujet vous passionne ? Les récits « making of » peuvent vous donner des premiers éléments de réponse. Après tout, les premiers contributeurs n’avaient jamais essayé avant de se lancer. N’hésitez pas à prendre contact avec eux. Oui il y a des difficultés, mais quel plaisir de les dépasser. ;)
      </p>
      <h2>Vous pouvez aider à améliorer la Carte des Récits</h2>
      <p>
        Le formulaire d’évaluation (infiniment moins de 5 minutes à remplir) n’est pas réservé aux seuls auteurs de récits. En tant qu’utilisateur de la carte, vos retours seront utiles parce que différents. <a href="https://framaforms.org/nous-avons-besoin-de-vous-pour-ameliorer-la-demarche-utilisee-pour-creer-la-carte-des-recits-pouvez" target="_blank" rel="noopener noreferrer">Le formulaire d’évaluation est là</a>.
      </p>
      <h2>Pour dialoguer avec la commune, le Host Lab ou des contributeurs ?</h2>
      <p>
        N’hésitez pas à partager vos idées de nouveaux récits pour être accompagnés. Ou venez partager vos idées de nouveaux usages ou de besoins pour la carte auxquels nous n’avons pas pensé.<br>
        Pour nous contacter, <a href="mailto:cartedesrecits@host-lab.org">c’est ici</a>.
      </p>
    </div>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import { Component } from 'vue-property-decorator'

@Component({
  layout: 'default',
})
export default class MapPage extends Vue {
  mounted () {}
}
</script>

<style lang="scss" scoped>

  .about-container {
    display: flex;
    justify-content: center;
    background: #F7F8FB;
    position: relative;
    min-width: 100vw;
    min-height: calc(100vh - 50px);
    width: 100%;

    .content {
      margin: 75px 10px;
      width: 100%;
      max-width: 700px;
      background: white;
      padding: 50px;
    }
    
    h1 {
      font-size: 28px;
      padding-bottom: 15px;
    }

    h2 {
      font-size: 18px;
      padding-bottom: 5px;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 22px;
    }

    a {
      color: black;
    }
  }
</style>
