<template>
  <div class="qrcode-container">
    <canvas ref="canvas"></canvas>
    <a ref="link" @click="downloadQrCode">Télécharger</a>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import { Component } from 'vue-property-decorator'

const QRCode = require('qrcode');

@Component({
  layout: 'default',
})
export default class MapPage extends Vue {

  storyId = "";

  downloadQrCode() {
    const link = document.createElement('a');
    link.download = `qrcode_story_${this.storyId}.png`;
    link.href = (this.$refs.canvas as any).toDataURL("image/png");
    link.click();
  }

  mounted () {
    this.storyId = this.$route.params.storyId;
    QRCode.toCanvas(this.$refs.canvas, `https://unli-diy.org/dev/stories/#${this.storyId}`, {
      errorCorrectionLevel: 'H'
    }, function (error: any) {
      if (error) console.error(error);
    })
  }
}
</script>

<style lang="scss" scoped>

  .qrcode-container {
    position: relative;
    background: #e8e8e8;
    min-width: 100vw;
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      cursor: pointer;
      margin-top: 10px;
      text-decoration: underline;
    }
  }
</style>
