<template>
  <div class="map-container" @click="closeStory">
    <div id="map" ref="map">
    </div>
    <div v-if="legend && !$store.getters['general/smallWidth']" class="legend" :class="{showed: showLegend}">
      <div class="actions">
        <button v-if="!showLegend" @click="showLegend=true">AFFICHER LÉGENDE</button>
        <button v-else @click="showLegend=false">MASQUER LÉGENDE</button>
      </div>
      <div class="content">
        <button
          v-for="(filter, index) in filterTypes"
          :key="`filterTypes_${index}`"
          :class="filter.category+' '+filter.id+' '+(filter.value ? '': 'hide')"
          @click.prevent="setFilterItemValue(filter.category, filter.id)"
        >
          <i :class="'icon-'+filter.id"></i>{{filter.name}}
        </button>
        <span class="separator"></span>
        <button
          v-for="(filter, index) in filterDimensions"
          :key="`filterDimesions_${index}`"
          :class="filter.category+' '+filter.id+' '+(filter.value ? '': 'hide')"
          @click.prevent="setFilterItemValue(filter.category, filter.id)"
        >
          {{filter.name}}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { MOCKS_STORIES } from '@/mocks/stories';
import {MapFilter} from '@/store/map';


let L: any;
let M: any;
let Icons: any;

if (process.client) {
  L = require('leaflet');
  M = require('leaflet.markercluster/dist/leaflet.markercluster');
  Icons = require('@/components/LeafletIcons');
}

interface MapComponentProps {
  center: number;
}

@Component({
  layout: 'default',
  components: {}
})
export default class MapComponent extends Vue {
  @Prop({default: () => [46.27580593600895, 6.234623193740844]}) center!: [];
  @Prop({default: true}) legend!: boolean;
  
  map: any = null;
  showLegend = true;
  markers: any;

  get filters(): {name: string; category: string; value: boolean; id: string}[] {
    const filters: {name: string; category: string; value: boolean; id: string}[] = [];
    for (const [key, value] of Object.entries(this.$store.state.map.filters)) {
      for (const [k, v] of Object.entries(this.$store.state.map.filters[key])) {
        filters.push({
          name: (v as MapFilter).name,
          category: key,
          value: (v as MapFilter).value,
          id: k,
        })
      } 
    }
    return filters; 
  }

  get filterTypes(): {name: string; category: string; value: boolean; id: string}[] {
    return this.filters.filter(filter => filter.category === 'types');
  }

  get filterDimensions(): {name: string; category: string; value: boolean; id: string}[] {
    return this.filters.filter(filter => filter.category === 'dimensions');
  }

  getFilterItemValue(category: string, name: string) {
    return this.$store.state.map.filters[category][name].value;
  }

  setFilterItemValue(category: string, name: string) {
    this.$store.dispatch('map/switchFilter', {category, name});
    this.displayMakers();
  }

  closeStory () {
    this.$emit('closeStory');
  }

  mounted () {
    setTimeout(() => {
      const mapElement = this.$refs.map as HTMLElement;
      const southWest = L.latLng(46.259051447415175, 6.175518035888672);
      const northEast = L.latLng(46.30780989796021, 6.268730163574219);
      const bounds = L.latLngBounds(southWest, northEast);

      const drawingLayer =  L.tileLayer(
        `https://api.mapbox.com/styles/v1/ancelnicolas/ck99hzri70cji1iqjg9n0keth/tiles/256/{z}/{x}/{y}@2x?access_token=${process.env.MAPBOX_ACCESS_TOKEN}`,
        {
          maxNativeZoom: 28,
          maxZoom: 28,
          attribution: "© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong>",
        }
      );

      const satelliteLayer = L.tileLayer(
        `https://api.mapbox.com/styles/v1/ancelnicolas/ckaffs5fa0t4c1iog14y1b9y3/tiles/256/{z}/{x}/{y}@2x?access_token=${process.env.MAPBOX_ACCESS_TOKEN}`,
        {
          maxNativeZoom: 28,
          maxZoom: 28,
          attribution: "© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong>",
        }
      );

      this.map = L.map(mapElement, {
        zoomControl: false,
        minZoom: 14,
        maxZoom: 22,
        maxBounds: bounds,
        layers: [drawingLayer, satelliteLayer]
      }).setView(this.center, 15);

      const baseLayers = {
        "Dessin": drawingLayer,
        "Satellite": satelliteLayer
      };


      L.control.layers(baseLayers).addTo(this.map);

      L.control.zoom({
          position: 'topright'
      }).addTo(this.map);


      this.markers = L.markerClusterGroup({
        spiderfyOnMaxZoom: true,
        removeOutsideVisibleBounds: true,
        animateAddingMarkers: true,
        iconCreateFunction: function(cluster: any) {
            var clusterSize = "small";
            if (cluster.getChildCount() >= 10) {
                clusterSize = "medium";
            }
            return new L.DivIcon({
                html: '<div><span>' + cluster.getChildCount() + '</span></div>',
                className: 'marker-cluster marker-cluster-' + clusterSize,
                iconSize: new L.Point(40, 40)
            });
        }
      });
      this.map.addLayer(this.markers);
      this.displayMakers();
    })
  }


  displayMakers () {
    this.markers.clearLayers();
    MOCKS_STORIES.forEach(story => {
      if (!this.$store.state.map.filters['dimensions'][story.dimension].value) {
        return;
      }
      if (!this.$store.state.map.filters['types'][story.type].value) {
        return;
      }
      const {lat, lng} = story.location;
      const marker = L.marker([lat, lng], {
        icon: L.divIcon({
          className: `map-marker ${story.dimension}`,
          iconSize: null,
          html: `<i class="icon-${story.type}"/>`
        })
      });
      marker.story = story;
      marker.on('click', this.markerOnClick);
      this.markers.addLayer(marker);
    });
  }

  markerOnClick(e: any) {
    e.originalEvent.stopPropagation();
    const {lat, lng} = e.latlng;
    this.showLegend = false;
    this.map.flyTo([lat, lng]);
    this.$emit('openStory', e.target.story);
  }
}
</script>

<style lang="scss" scoped>

@import '@/styles/variables.scss';

  .map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    #map {
      width: 100%;
      height: 100%;
    }

    .legend {
      position: fixed;
      bottom: -50px;
      width: 100%;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: bottom 0.2s ease-in;

      &.showed {
        bottom: 0;
      }

      .actions {
        button {
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #8A9BA6;
          font-weight: bold;
          padding: 8px 20px;
          border-radius: 20px;
          margin: 0 10px;
          cursor: pointer;
          box-sizing: border-box;
          text-decoration: none;
          background: white;
          box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
        }
      }

      .content {
        margin-top: 10px;
        width: calc(100% - 30px);
        background: rgba($color: #fff, $alpha: 0.95);
        border-radius: 8px 8px 0 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .separator {
          display: inline-block;
          margin-left: 15px;
          border-right: 2px solid #8a8a8a;
          height: 20px;
          width: 2px;
        }

        [class~='types']:last-of-type {
          background:chartreuse;
        }

        button {
          font-family: 'Roboto';
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: #333;
          font-size: 14px;
          background: none;
          &:nth-of-type(n+2) {
            margin-left: 15px;
          }

          &.hide {
            opacity: 0.3;
          }

          &.dimensions {
            &:before {
              content:"";
              display: inline-block;
              width: 15px;
              height: 15px;
              border-radius: 10px;
              margin-right: 8px;
            }

            &.life {
              &:before {
                background: $life;
              }
            }

            &.mobility {
              &:before {
                background: $mobility;
              }
            }

            &.nature {
              &:before {
                background: $nature;
              }
            }

            &.identity {
              &:before {
                background: $identity;
              }
            }
          }

          i {
            color: black;
            margin-right: 8px;
            font-size: 18px;
          }
        }
      }
    }
  }
</style>
