<template>
  <div class="article-container">
    <n-link to="/" class="back"><i class="icon-left-open"></i>Carte des récits</n-link>
    <article v-if="story">
      <div class="top">
        <span :class="`icon ${story.dimension}`">
          <i :class="`icon-${story.type}`"/>
        </span>
        <span class="type">
          {{storyType}}&nbsp;
        </span>
        <span class="dimension">
          {{storyDimension}}
        </span>
      </div>
      <h1>{{story.title}}</h1>
      <h2 v-if="story.subtitle">{{story.subtitle}}</h2>
      <p class="authors">
        Par {{story.authors}}, le {{publicationDate}}
      </p>
      <div class="images" v-if="story.article.images && story.article.images.length">
        <template v-if="story.article.images.length">
          <v-carousel height="400" hide-delimiter-background show-arrows-on-hover >
            <v-carousel-item v-for="(image, index) in story.article.images" :key="`image_${index}`">
              <div class="image" :style="{backgroundImage: `url(img/${image.src})`}">
                <legend v-if="image.legend">{{image.legend}}</legend>
              </div>
            </v-carousel-item>
          </v-carousel>
        </template>
        <template v-else>
          <div class="image" :style="{backgroundImage: `url(${story.article.images[0]})`}"></div>
        </template>
      </div>
      <div class="audios" v-if="story.article.audios && story.article.audios.length">
        <div class="audio" v-for="(audio, index) in story.article.audios" :key="`audio_${index}`">
          <iframe width="100%" height="166" scrolling="no" frameborder="no" :src="`https://w.soundcloud.com/player/?url=${audio}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false`"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/liltjay" title="Lil Tjay" target="_blank" style="color: #cccccc; text-decoration: none;">Lil Tjay</a> · <a href="https://soundcloud.com/liltjay/zoo-york-feat-fivio-foreign" title="Zoo York (feat. Fivio Foreign &amp; Pop Smoke)" target="_blank" style="color: #cccccc; text-decoration: none;">Zoo York (feat. Fivio Foreign &amp; Pop Smoke)</a></div>
        </div>
      </div>
      <p class="text" v-html="text"></p>
      <div class="videos" v-if="story.article.videos && story.article.videos.length">
        <div class="video" v-for="(video, index) in story.article.videos" :key="`video_${index}`">
          <iframe :src="`${video}?title=0&byline=0&portrait=0`" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
      <div class="documents" v-if="story.article.documents && story.article.documents.length">
        <h3>Documents :</h3>
        <ul>
          <li class="document" v-for="(document, index) in story.article.documents" :key="`document_${index}`">
            <a :href="`documents/${document}`" target="_blank">{{document}}</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</template>

<script lang="ts">


import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import { MOCKS_STORIES } from '@/mocks/stories';
import { Story } from '@/models/story.model';
import moment from 'moment';

@Component({
  layout: 'default'
})
export default class MapPage extends Vue {

  story: Story|null = null;

  settings = {
    "lazyLoad": "ondemand",
    "dots": true,
    "fade": true,
    "infinite": true,
    "speed": 500,
    "slidesToShow": 1,
    "slidesToScroll": 1,
  };

  get text(): string {
    if (this.story) {
      return ((this.story.article || {}).text || '').replace(/\n/g, "<br />");
    }
    return '';
  }

  get storyDimension(): string {
    if (this.story) {
      return this.$store.state.map.filters.dimensions[this.story.dimension].name;
    }
    return '';
  }

  get storyType(): string {
    if (this.story) {
      return this.$store.state.map.filters.types[this.story.type].name;
    }
    return '';
  }

  get publicationDate(): string {
    if (this.story) {
      const { publicationDate } = this.story;
      if (publicationDate) {
        return moment(publicationDate).format('DD/MM/YYYY')
      }
      return ''
    }
    return '';
  }

  mounted () {
    const storyId = this.$route.params.articleId;
    const story: Story|undefined = MOCKS_STORIES.find(story => story.id === storyId && story.article);

    if (!story) {
      this.$router.push('/');
    } else {
      this.story = story;
    }
  }
}
</script>

<style lang="scss" scoped>

@import '@/styles/variables.scss';

  .article-container {
    position: relative;
    background: white;
    
    margin: 75px auto;
    max-width: 715px;
    width: 100%;
    padding: 0 10px;

    a.back {
      display: inline-block;
      background: #FFFFFF;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);
      color: #4A90E2;
      padding: 5px 10px;
      border-radius: 20px;
      margin-bottom: 15px;
      text-decoration: none;
    }

    article {
      display: flex;
      flex-direction: column;

      .top {
        font-size: 18px;
        color: #ADB0B2;
        display: flex;
        align-items: center;

        .icon {
          display: inline-block;
          color: white;
          @include dimensionBackgrounds;
          height: 30px;
          width: 30px;
          border-radius: 15px;
          margin-right: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .type, .dimension {
          text-transform: uppercase;
        }

        .dimension:before {
          content: ' | '
        }
      }

      h1 {
        padding-top: 10px;
        font-size: 28px;
        font-weight: bold;
        line-height: 33px;
      }

      h2 {
        padding: 10px 0;
        font-size: 22px;
        font-weight: 500;
        line-height: 25px;
      }

      .authors {
        color: #ADB0B2;
      }

      .images {
        background: whitesmoke;
        margin:20px 0;
        height: 400px;
        
        .image {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;

          legend {
            background: rgba(255,255,255,0.6);
            width: 100%;
            height: auto;
            padding: 10px 15px;
            font-size: 13px;
            text-align: center;
            font-style: italic;
          }
        }
      }

      .audios {
        .audio {
          padding-bottom: 25px;
        }
      }

      .videos {
        .video {
          iframe {
            width: 100%;
            height: (calc(min(100vw, 715px) / 1.7));
          }
        }
      }

      p.text {
        line-height: 26px;
        padding-top: 15px;
      }

      .documents {
        margin:20px 0;
        ul{
          list-style-position: inside;
          li {
            a {
              color: black;
            }
          }
        } 
      }
    }
  }
</style>
