<template>
  <div class="layout-default" data-app>
    <client-only>
      <Cookie />
    </client-only>
    <header>
      <div class="left">
        <n-link to="/">
          <img src="~/assets/logo.svg" alt="">
        </n-link>
        <!-- <h1 v-if="!$store.getters['general/smallWidth']">Stories</h1> -->
        <span v-if="!$store.getters['general/smallWidth']">PROTOTYPE/SPRINT3+1</span>
      </div>
      <div class="menu" v-if="!$store.getters['general/smallWidth']">
        <a target="_blank" href="https://mypads.framapad.org/mypads/?/mypads/group/carte-des-recits-anieres-s935mc7w8/pad/view/liste-des-recits-n3win768">
          Liste des récits
        </a>
        <n-link to="/about">A propos</n-link>
        <n-link to="/contribute" class="contribution">Je contribue</n-link>
      </div>
      <div class="menu" v-else>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              dark
              v-on="on"
            >
              <i class="icon-menu"></i>
            </v-btn>
          </template>
          <v-list class="menu">
            <v-list-item>
              <n-link to="/about">A propos</n-link>
            </v-list-item>
            <v-list-item>
              <n-link to="/contribute" class="contribution">Je contribue</n-link>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </header>
    <nuxt />
  </div>
</template>

<script lang="ts">


import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import Cookie from "@/components/Cookie.vue";

@Component({
  components: {
    Cookie
  }
})
export default class MapPage extends Vue {
  mounted () {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  }

  handleResize() {
    const width = window.innerWidth;
    const height = window.innerHeight;
    this.$store.dispatch('general/setSize', {width, height});
  }

  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  }
}

</script>

<style lang="scss" scoped>

  .layout-default {
    padding-top: 50px;
    min-height: 100vh;
    min-width: 100vw;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left:0;
      height: 50px;
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.1);
      z-index: 99999;
      padding: 0 15px;
      background: white;
      width: 100vw;

      .left {
        display: flex;
        align-items: center;
        h1 {
          padding: 0 10px;
          font-size: 18px;
        }
        span {
          display: inline-block;
          padding: 2px 5px;
          background: #3F3F3F;
          color: #7cfc00;
          font-family: monospace;
          margin-left: 10px;
          font-style: italic;
        }
      }
    }
  }

</style>
