<template>
  <div class="about-container">
    <div class="content">
      <h1>Pourquoi la Carte des Récits ?</h1>
      <h2>Rêve</h2>
      <p>
        Imaginez un village où les habitant-e-s et les élu-e-s s’entraideraient pour créer des reportages sur leur territoire. Où des histoires oubliées et des initiatives pour améliorer la qualité de vie de tous, humains et non humains, feraient surface et seraient largement partagées. Et progressivement la vie sociale serait renforcée et les initiatives mises en place.
      </p>
      <h2>Utopie ? Ce projet existe</h2>
      <p>
        Le village d’Anières en Suisse est le premier à expérimenter la démarche. Sans aucune expérience préalable, avec quelques conseils dispensés par des pros, les premier-e-s contributrices et contributeurs, de 7 à 77 ans, ont créé les premiers récits, depuis ils aident et forment les nouveaux. Dans la carte se révèlent des sujets passionnants.  Des chemins commencent à apparaitre pour relier les mémoires et co-construire un futur commun.
      </p>
      <h2>Un point de départ universel</h2>
      <p>
        L’humanité est aujourd’hui confrontée à des défis immenses. Réfléchir ensemble, multiplier les points de vue et tester des solutions concrètes et reproductibles pour les hommes et la planète procure un grand plaisir. Probablement parce qu’apporter sa pierre au monde qui vient est nécessaire à notre équilibre. <n-link to="/Charte_Carte_des_Recits_beta_1-1.pdf" target="_blank">Voir la charte ici</n-link>.
      </p>
      <h2>Une méthode et des technologies libres</h2>
      <p>
        Le village d’Anières et le réseau 7 Milliards d’urbanistes partagent la démarche et la technologie. La plateforme numérique Unlimited Stories initiée par le village et le Host Lab est actuellement en développement. La  version 1 sera disponible sur GitLab avec le support des fondations pour l’urbanisme ouvert et Free IT (Genève).
      </p>
      <h2>Un projet contributif</h2>
      <p>
        Le prototype se développe pendant trois mois en trois étapes de trois semaines appelées sprints. À chaque fin de sprint, une semaine permet de faire le point et de déterminer ce qui doit être amélioré lors du sprint suivant. Il y a aussi un café-visio et un apéro-visio par semaine, où les concepteurs de la carte et les contributeurs échangent au fil de l’eau. L’idée de créer un glossaire contributif pour partager le même vocabulaire est née ainsi. <a href="https://mypads.framapad.org/p/dictionnaire-collaboratif-4r35pc7g3" target="_blank">Voir l’esquisse du glossaire ici</a>
      </p>
      <h2>Pour en savoir plus sur la Carte des Récits</h2>
      <p>
        Pour contacter la commune ou le Host-lab, pour participer aux visios, c’est facile…  Vous pouvez nous contacter <a href="mailto:cartedesrecits@host-lab.org">là</a>.
      </p>
    </div>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import { Component } from 'vue-property-decorator'

@Component({
  layout: 'default',
})
export default class MapPage extends Vue {
  mounted () {}
}
</script>

<style lang="scss" scoped>

  .about-container {
    display: flex;
    justify-content: center;
    background: #F7F8FB;
    position: relative;
    min-width: 100vw;
    min-height: calc(100vh - 50px);
    width: 100%;

    .content {
      margin: 75px 10px;
      width: 100%;
      max-width: 700px;
      background: white;
      padding: 50px;
    }
    
    h1 {
      font-size: 28px;
      padding-bottom: 15px;
    }

    h2 {
      font-size: 18px;
      padding-bottom: 5px;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 22px;
    }

    a {
      color: black;
    }
  }
</style>
