<template>
  <div class="home-container">
    <div class="polygon-container" ref="polygonContainer">
      <div class="shape" :style="pictureURL">
      </div>
      <div class="content-container" v-if="currentStory">
        <div class="content">
          <h1 ref="title" :class="`${currentStory.dimension}`">
            <i v-if="storyType === 'making-of'" class="icon-making-of"></i>
            <i v-if="storyType === 'point-of-interest'" class="icon-star"></i>
            <i v-if="storyType === 'live'" class="icon-wifi"></i>
            {{currentStory.title}}
          </h1>
          <button @click="closeStory" class="close" ref="close"><i class="icon-close"></i></button>
          <article ref="article">
            <h2 v-if="currentStory.subtitle">{{currentStory.subtitle}}</h2>
            <p>{{currentStory.description}}</p>
            <div v-if="currentStory.authors" class="authors">
              Par {{currentStory.authors}}
            </div>
            <div class="links">
              <a :href="currentStory.links.video" target="_blank" v-if="currentStory.links.video" @click.prevent="videoIsOpened = true"><i class="icon-video"></i>Voir la vidéo</a>
              <a :href="currentStory.links.audio" target="_blank" v-if="currentStory.links.audio"><i class="icon-mic"></i>Ecouter l'audio</a>
              <a :href="`documents/${currentStory.links.document}`" target="_blank" v-if="currentStory.links.document"><i class="icon-doc-text"></i>Voir le document</a>
              <n-link :to="`articles/${currentStory.id}`" v-if="currentStory.article"><i class="icon-book"></i>Voir l'article</n-link>
              <n-link :to="`qrcode/${currentStory.id}`" target="_blank"><i class="icon-qrcode"></i> QRcode</n-link>
            </div>
            <br>
            <a class="contact-authors" :href="`mailto:cartedesrecits@host-lab.org?subject=Prise de contact récit «${currentStory.title}${currentStory.subtitle ? ', '+currentStory.subtitle: ''}», id:${currentStory.id}`">Contacter les auteurs</a>
          </article>
        </div>
      </div>
    </div>
    <div class="video" v-if="videoIsOpened">
      <iframe :src="`${currentStory.links.video}?title=0&byline=0&portrait=0`" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <button @click="videoIsOpened = false" class="close" ref="close"><i class="icon-close"></i></button>
    </div>
    <client-only>
      <MapComponent :legend="!currentStory" @openStory="openStory" @closeStory="closeStory" ref="mapComponent"/>
    </client-only>
    <v-dialog
      v-model="dialog"
      width="450"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
          style="word-break: break-word"
        >
          Bienvenue sur la carte des Récits d'Anières
        </v-card-title>

        <v-card-text>
          Découvrez, créez et partagez
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Voir la carte
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import MapComponent from '@/components/Map.vue';
import { Story } from '@/models/story.model';
import anime from 'animejs';
import moment from 'moment';
import { MOCKS_STORIES } from '@/mocks/stories';


@Component({
  layout: 'default',
  components: {
    MapComponent
  }
})
export default class MapPage extends Vue {
  currentStory:Story|null = null;
  videoIsOpened= false;
  dialog = false;

  get pictureURL (): any {
    let url = '';
    if (this.currentStory) {
      url =  this.currentStory.picture;
    }
    return {
      '--url': `url(img/${url})`
    }
  }

  get storyType (): string {
    if (this.currentStory) {
      return this.currentStory.type;
    }
    return '';
  }

  openStory (story: Story) {
    location.hash = `#${story.id}`;
    this.currentStory = story;
    (this.$refs.polygonContainer as HTMLElement).style.display = 'block';

    setTimeout(() => {
      anime({
        targets: this.$refs.polygonContainer,
        left: '0',
        easing: 'easeInOutQuad',
        duration: 200
      });

      anime({
        targets: (this.$refs.mapComponent as any).$el,
        left: '400px',
        easing: 'easeInQuad',
        duration: 400,
      });

      anime({
        targets: this.$refs.title,
        translateX: ['-100%', 0],
        easing: 'easeInQuad',
        duration: 400,
        delay: 200,
      });

      anime({
        targets: this.$refs.article,
        opacity: [0, 1],
        easing: 'easeInQuad',
        duration: 400,
        delay: 300,
      });

      anime({
        targets: this.$refs.close,
        opacity: [0, 1],
        easing: 'easeInQuad',
        duration: 200,
        delay: 700,
      });
    })
  }

  closeStory () {
    const noHashURL = window.location.href.replace(/#.*$/, '');
    window.history.replaceState('', document.title, noHashURL);

    if (this.currentStory) {
      anime({
        targets: this.$refs.polygonContainer,
        left: '-900px',
        easing: 'easeInOutQuad',
        duration: 400,
        complete: () => {
          this.currentStory = null;
          (this.$refs.polygonContainer as HTMLElement).style.display = 'none'; 
        }
      });

      anime({
        targets: (this.$refs.mapComponent as any).$el,
        left: '0px',
        easing: 'easeInQuad',
        duration: 200,
      });
    }
  }

  mounted () {
    const hash = location.hash.substr(1);
    if (hash) {
      const story = MOCKS_STORIES.find(story => story.id === hash);
      if (story) {
        this.openStory(story);
      }
    }
    
    const welcome = window.localStorage.getItem('welcome');
    if (!welcome) {
      this.dialog = true;
      window.localStorage.setItem('welcome', 'true');
    }
  }


}
</script>

<style lang="scss" scoped>

@import '@/styles/variables.scss';

  .home-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 50px);
    overflow: hidden;

    .polygon-container {
      height: calc(100vh - 50px);
      width: 100vw;
      z-index: 999;
      position: absolute;
      left: -900px;
      overflow: hidden;
      display: none;
      pointer-events: none;

      .shape {
        pointer-events: all;
        position: absolute;
        overflow: hidden;
        transform: rotate(10deg);
        width: 900px;
        height: 140vh;
        z-index: 1;
        top: -20vh;
        left: -15vh;
        background: black;
        border: 10px solid white;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);

        &:before {
          content: "";
          position: absolute;
          width: 1000px;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          background: var(--url);
          background-size: cover;
          transform: rotate(-10deg);
        }
      }
      
      .content-container {
        position: absolute;
        width: 100%;
        max-width: 710px;
        min-height: 100%;
        z-index: 800;
        padding: 50px;
        display: flex;
        justify-content: center;
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
        pointer-events: all;

        .content {
          position: relative;

          h1 {
            font-size: 28px;
            position: relative;
            display: inline-block;
            background: #1D1D1D;
            color: white;
            padding: 10px 15px 10px 60px;
            text-transform: uppercase;
            left: -50px;
            transform: translateX(-100%);

            @include dimensionBackgrounds;

            i {
              margin-right: 10px;
            }
          }

          .close {
            position: absolute;
            top: 15px;
            right: 20px;
            border-radius: 20px;
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
            cursor: pointer;
            font-size: 10px;

          }

          article {
            margin: 20px;
            padding: 25px;
            background: white;

            h2 {
              font-size: 18px;
              padding-bottom: 15px;
            }
            
            p {
              line-height: 24px;
              padding-bottom: 15px;
            }

            .authors {
              padding-bottom: 15px;
              color: grey;
            }

            .links {
              a {
                display: inline-flex;
                color: #2D75A3;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                border: 1px solid #2D75A3;
                text-decoration: none;
                font-weight: bold;
                padding: 4px 12px;
                font-size: 14px;

                i {
                  font-size: 16px;
                  margin-right: 4px;
                  line-height: 14px;
                }
              }
            }

            .contact-authors {
              color: black;
            }
          }
        }
      }
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99999;
      background: rgba($color: #000000, $alpha: 0.8);
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(10px);

      iframe {
        position:absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: calc(100% - 120px);
      }

      button.close {
        position: absolute;
        top: 15px;
        right: 20px;
        border-radius: 20px;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
        font-size: 10px;
        cursor: pointer;
      }
    }
  }
</style>
