@import "./variables.scss";

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

button, textarea, input {
  border: none;
  &:focus {
    outline: none;
  }
}


.menu {
  a {
    text-decoration: none;
    color: #7D7979;
    padding-left: 25px;
    
    &.nuxt-link-exact-active {
      color: #333;
    }

    &.contribution {
      margin-left: 25px;
      padding: 5px 15px;
      color: white;
      background: #4A90E2;
      font-weight: bold;
      border-radius: 25px;
    }
  }

  &.v-list {

    .v-list-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a:not(.contribution) {
        padding: 0;
      }
      a.contribution {
        margin: 0;
      }
    }
  }
}

.leaflet-marker-icon.map-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  left: -18px;
  top: -18px;
  color: white;
  border-radius: 18px;
  border: 2px solid white;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
  font-size: 18px;

  @include dimensionBackgrounds;
}


div.marker-cluster, div[class^="marker-cluster"]{
  background-color: none;
  background: #111 !important;
  border: 2px solid white;;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:0 0 20px rgba(0, 0, 0, 1);

  div {
    background: none !important;
    background-color: none !important;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
}

.slick-arrow {
  &:before {
    color: black !important;
  }
}

.slick-slider {
  background: #F7F8FB !important;
}

.slick-slide {
  div.image {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.v-window__next {
  right: 0;
}

.v-responsive.v-image.v-carousel__item {
  .image {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
  }
}

.v-overlay.v-overlay--active.theme--dark {
  z-index: 999999 !important;
}

.v-dialog__content.v-dialog__content--active {
  z-index: 9999999 !important;
}