$identity: #ff5252;
$mobility: #4a90e2;
$nature: #7ec72a;
$life: #e69c2a;

@mixin dimensionBackgrounds {
  &.life {
    background: $life;
  }

  &.identity {
    background: $identity;
  }

  &.mobility {
    background: $mobility;
  }

  &.nature {
    background: $nature;
  }
}